---
title: Home
description: Growing together in Christ to impact our world.
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1>Wagga Church of Christ</h1>
			<p class="subtext">Growing together in Christ to impact our world.</p>
			<div class="cta button alt"><a href="#">A Button</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2>Some text</h2>
				<p>More headings.</p>
			</div>
			<div class="image">
				<img src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2>Heading</h2>
				<p>Text.</p>
			</div>
			<div class="image">
				<img src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2>Heading</h2>
				<p>Text.</p>
			</div>
			<div class="image">
				<img src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2>A heading</h2>
				<p class="subtext">Text</p>
				<div class="cta button alt"><a href="#">A Button</a></div>
			</div>
		</div>
	</section>
</div>
